<app-navbar></app-navbar>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-12">
      <h2>My Cart</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-hovered">
          <thead>
            <tr>
              <th>Product</th>
              <th width="10%">Price</th>
              <th width="10%">Qty</th>
              <th width="20%">Total</th>
              <th width="10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let data of cart'>
              <td>{{ data.name }}</td>
              <td>{{ data.price }}</td>
              <td><input type="number" class="form-control" name="qty" [(ngModel)]="data.qty" (change)="updateQty(data, $event, data.qty)"></td>
              <td>{{ data.price*data.qty }}</td>
              <td>
                <button class="btn btn-sm btn-danger" (click)="deleteItemCart(data)">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="text-center"><strong>GRAND TOTAL</strong></td>
              <td></td>
              <td class="text-center"><strong *ngIf='gtotal'>{{ gtotal }}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
