
<div class="dashboard-header">
  <nav class="navbar navbar-expand-lg fixed-top">

      <div class="col-md-10 col-sm-10 col-9">
          <a href=""><img src="" class="img-fluid navbar-logo"></a>
      </div>
      <div class="col-md-2 col-sm-2 col-3 pl-0 pr-0">
          <div class="navbar-collapse float-right" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto navbar-right-top">

                  <li class="nav-item dropdown nav-user">
                      <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="../assets/images/user-icon.png" alt="" class="user-avatar-md rounded-circle">
                      </a>
                      <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                          <div class="nav-user-info">
                              <h5 class="mb-0 text-white nav-user-name">Robi Cahya Lundara</h5>
                          </div>
                          <a class="dropdown-item" href=""><i class="fa fa-user mr-2"></i>Profile</a>
                          <a class="dropdown-item" href="">
                              <i class="fa fa-power-off mr-2"></i>Logout
                          </a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>

  </nav>
</div>
